<div class="center">
  <div>
    <% flash.each do |type, msg| %>
      <% if type == 'notice' %>
          <%= msg %>
      <% end %>
      <% if type == 'error' %>
          <%= msg %>
      <% end %>
    <% end %>
  </div>
</div>